<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- <div id="header"></div> -->
    {% include "./partials/head.html" %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            <!-- Header -->
                            {% include "./partials/header-socialLinks.html" %}

							<!-- Banner -->
							<section id="banner">
								<div class="content">
									<header>
										<h1>Hi, I'm Micah Tidwell</h1>
										<p>Software Developer</p>
									</header>
									
									<p>Hello world! Welcome to my domain, happy you found yourself here. 
									I'm Micah Tidwell.
									</p>

									<p>This site is a showcase of a few websites, projects, and software tools I've built and/or worked on with development teams in the industry, and ways to contact me if you ever need help
										with anything.
									</p>
									<ul class="actions">
										<li><a href="portfolio.html" class="button big">Check out my projects!</a></li>
									</ul>
								</div>
								<span class="image object">
									<img src="images/image 7.jpeg" alt="" />
								</span>
							</section>
						</div>
					</div>

                    <!-- Sidebar & Footer -->
                    {% include "./partials/sidebar-footer.html" %}
			</div>

        <!-- Scripts -->
        {% include "./partials/scripts.html" %}
	</body>
</html>